<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="timeline-body">
              <img src="img/about/niceic-domestic-installer.png" id="niceic-logo" alt="NICEIC Domestic Installer" />
              <p class="text-muted">Pimlico’s team of London electricians are NICEIC registered and carry out all types of domestic electrical work from a new plug socket to a complete, or partial, rewiring of your property professionally and efficiently. We have a 24 hour service to deal with any problem which may arise and undertake electrical test inspections, diagnostics and fault finding on electrical systems. Larger works are supervised by a quality control manager providing regular updates.

Any work on your electrical system must be undertaken by a qualified electrician and all our work is to British Standard BS 7671 (IEE) standards to meet safety regulations.

We always ensure minimum disruption and that we leave your premises clean and tidy following our visit.

Our 24 hour manned London office can have an electrician with you within 1 hour, day or night.</p>
            </div>

        </div>
    </section>
