<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Us</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>

    <div class="row contact">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 email">
            <h4><a href="mailto:{{ site.email }}">{{ site.email }}</a></h4>
	  </div>
        </div>
        <div class="row">
          <div class="col-md-12 phone">
            <h4>{{ site.phone }}</h4>
	  </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 social">
            <a href="http://facebook.com" class="facebook"><i class="fa fa-facebook"></i>facebook</a>
          </div>
          <div class="col-md-6 social">
            <a href="https://plus.google.com" class="google"><i class="fa fa-google-plus"></i>googleplus</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 social">
            <a href="https://linkedin.com" class="linkedin"><i class="fa fa-linkedin"></i>linkedin</a>
          </div>
          <div class="col-md-6 social">
            <a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i>twitter</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
