<!-- Pricing Section -->
<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Pricing</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
	Quotations for substantial work on electrical installations
	are free of charge within the M25 area. Please call to arrange
	an appointment.
      </div>
    </div>
  </div>
</section>
